body
{
    background-color: #E5E3C9;
    font-family: cursive;
    /* background-image: url("background.jpg"); */
} 

a
{
    color: black;
}

a:hover
{
    color: #789395;
}

hr
{
    background-color: none;
    border-style: dotted none none none;
    border-color: #94B49F;
    border-width: 5px ;
    width: 5%;
} 
 
img
{
    border-radius: 2px 2px 2px 2px;
} 

h1
{
    color: #789395;
}

h2
{
    color: #789395;
}

td
{
  text-align: center;  
}

#img1
{
    height: 50px;
    width: 50px;
    opacity: 60%;
}
#img1:hover
{
    opacity: 100%;
}

/* class -> .class name
   id ->  @id name*/


